// Blog
.blog_content {
    &_img {
        height: 450px;
        // width: 830px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &_title {
        color: $text;
        font-size: 26px;
    }
    &_divide {
        font-size: 14px;
        color: #555555;
        border-right: 1px solid #aaaaaa;
        height: 12px;
        &:last-child {
            border-right: none;
        }
    }
    &_content {
        border-bottom: 1px solid $border;
    }
    &_text {
        font-size: 14px;
        color: #777777;
    }
    &_reading {
        color: $text;
        font-size: 14px;
        text-transform: uppercase;
    }
    .recent_news_data {
        height: 65px;
        width: 55px;
    }

}
// Blog content Categories
.blog_content_categories {
    input {
        border: 1px solid $border;
        height: 45px;
        width: 100%;
        border-right: none;
    }
    &_button {
        border-radius: 0;
        background: $text;
        border: none;
        min-width: 45px;
        &:hover {
            background: $text;
        }
    }
    &_title {
        text-transform: uppercase;
        color: $text;
        font-size: 16px;
    }
    &_text {
        font-size: 14px;
        color: #777777;
        border-bottom: 1px solid $border;
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            color: #292929;
        }
    }
    &_tags {
        color: #777777;
        font-size: 12px;
        border: 1px solid $border;
    }
}
.recent_posts {
    &_text {
        font-size: 14px;
        color: #777777;
        border-bottom: 1px solid $border;
        &:last-child {
            border-bottom: none;
        }
    }
    &_title {
        color: $text;
        font-size: 16px;
    }
}
// Page Switching
.page_switching {
    width: 100%;
    border-top: 2px solid $border;
    &_content {
        font-size: 14px;
        color: $text_secondary;
        border: 1px solid $border;
        height: 32px;
        width: 32px;
        border-radius: 3px;
        &:hover,
        &.active {
            color: #ffffff;
            background: $text;
            transition: all 0.3s ease;
        }
    }
}
