// Blog Post
.blog_post {
    &_item {
        font-size: 16px;
        color: #333333;
        border-left: 2px solid #232323;
    }
    &_title {
        font-size: 22px;
        color: $text;
    }
    &_content {
        width: 50%;
    }
    &_img {
        img {
            height: 310px;
            width: 365px;
        }
    }
    &_tags {
        font-size: 14px;
        color: #232323;
    }
    &_trending {
        border-bottom: 2px solid $border;
    }
    &_social {
        color: #ffffff;
        background: $text;
        height: 30px;
        width: 30px;
        border-radius: 3px;
    }
}