// MAIN
.main {
	flex: 1 0 auto;
	overflow: hidden;
	&_list {
		border: 1px solid $border;
		border-top: none;
	}
	&_title {
		font-size: 40px;
		color: #ffffff;
		text-transform: uppercase;
	}
	&_text {
		font-size: 16px;
		color: #ffffff;
		text-transform: uppercase;
	}
	&_button {
		background: #ffffff;
		text-transform: uppercase;
		font-size: 12px;
		border-radius: 2px;
	}
}
// Home slider
.home_slider {
	height: 100%;
	.owl-stage-outer,
	.owl-stage,
	.owl-item,
	.slider_item {
		height: 100%;
	}
	.slider_item {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background: #000;
			opacity: 0.5;
		}
		&_content {
			position: relative;
		}
	}
	.owl-dots {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
	}
	.owl-dot {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.5) !important;
		min-width: 0;
		margin-left: 10px;
		margin-bottom: 20px;
		&.active {
			background: #fff !important;
		}
	}
}
// Section_sale
.sale {
	&_item {
		background: #d0d0d0;
		height: 210px;
	}
	&_title {
		color:#ffffff;
		text-transform: uppercase;
		font-size: 22px;
	}
	&_text {
		background: #a5c655;
		color: #fff;
		text-align: center;
		width: 155px;
		text-transform: uppercase;
		font-size: 12px;
	}
	&_offer {
		background: #24bbbc;
		width: 100px;
		text-align: center;
		font-size: 12px;
		color: #fff;
	}
	&_button {
		text-transform: uppercase;
		color: #4d4c4c;
		font-size: 12px;
		background: #fcf7f4;
		width: 75px;
		text-align: center;
	}
}
// sidebar slider
.sidebar {
	&_block {
		border: 1px solid $border;
		&_title {
			text-transform: uppercase;
			background: #eeeeee;
			border-bottom: 1px solid $border;
		}
		&_nav {
			height: 25px;
			width: 25px;
			border-radius: 50%;
			background: #f7f7f7;
			cursor: pointer;
			color: $text_light;
			@extend.animate;
			&:hover {
				color: #fff;
				background: $accent;
			}
		}

		// &_img {
		// 	height: 80px;
		// 	width: 80px;
		// 	text-align: center;
		// 	& img {
		// 		height: 100px;
		// 		width: 50px;
		// 	}
		// }
		// &_text {
		// 	color: #444444;
		// 	font-size: 14px;
		// }
		// &_price {
		// 	color: #222222;
		// 	font-size: 14px;
		// }
		// &_star {
		// 	text-align: inherit;
		// }
		// &_content {
		// 	border-top: 1px solid $border;
		// }
	}
	&_sale {
		height: 300px;
		color: #fff;
		&_button {
			color: black;
			background: #fff;
		}
		&_title,
		&_text {
			text-shadow: 0 0px 20px #000;
		}
	}
	&_reviews {
		text-align: center;
		background: $accent;
		text-transform: uppercase;
		color: #fff;
		&_content {
			border: 1px solid $border;
			border-top: none;
		}
		&_text {
			color: #777777;
			font-size: 14px;
			text-align: center;
		}
		&_img {
			height: 80px;
			width: 80px;
			border-radius: 50%;
			overflow: hidden;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}
}
// Counter
.counter {
	&_item {
		background: #f6f6f6;
		border-top: 1px solid #e5e5e5;
		width: 25%;
		text-align: center;
		border-right: 1px solid $border;
		&:last-child {
			border-right: none;
		}
	}
	&_numeral {
		color: #080808;
		font-size: 13px;
		text-align: center;
	}
	&_time {
		color: #777777;
		font-size: 13px;
		text-align: center;
	}
}
// tag sale
.tag_sale {
	background: #ea5c5c;
	color: #ffffff;
	font-size: 12px;
	height: 20px;
	width: 40px;
	text-align: center;
	border-radius: 2px;
}
.tag_new {
	background: #ffb128;
	color: #ffffff;
	font-size: 12px;
	height: 20px;
	width: 40px;
	text-align: center;
	border-radius: 2px;
}
// Products slider
.products_slider {
	border: 1px solid $border;
	.prod_card {
		border-right: 1px solid $border;
	}
	&_nav {
		border: 1px solid $border;
		height: 25px;
		width: 25px;
		border-radius: 3px;
		cursor: pointer;
		color: $text_light;
		@extend.animate;
		&:hover {
			color: #fff;
			background: $accent;
		}
	}
}
// Sentence_section
.sentence_block {
	background: #cccccc;
	width: 410px;
}