@import "variables";

/* ==========  Desktop First  ========== */

/* ≥1200px */
@include media-breakpoint-down(lg) {

}

/* ≥992px */
@include media-breakpoint-down(md) {
    .search_form_input {
        width: auto;
    }
    .basket_btn {
        border-radius: 5px;
    }
    .header_menu_content {
        margin-left: 0;
    }
    .social_text {
        font-size: 12px;
    }
    .footer_copyright_text {
        text-align: center;
    }
    .product_categories_img {
        height: 25px;
    }
    .author_supermart_title {
        font-size: 18px;
    }
    .service_content {
        border-right: none;
    }
    .author_supermart_img {
        margin-bottom: 20px;
    }
    .author_supermart_text {
        margin-bottom: 15px !important;
    }
    .contact_form_button {
        margin-bottom: 30px;
    }
    iframe {
        width: 100%;
    }
    .contact_form input,
    .contact_form textarea {
        width: 100%;
    }
    // .contact_form_info {
    //     margin-bottom: 15px !important;
    // }
    .map {
        margin-bottom: 15px;
    }
    .contact_form_input {
        margin-bottom:5px !important;
    }
    .blog_content_img {
        height: 250px;
    }
    .section_comments_img {
        height: auto;
    }
    .blog_content_title {
        font-size: 24px;
    }
    .map {
        margin-bottom: 30px;
    }

}

/* ≥768px */
@include media-breakpoint-down(sm) {
    .footer {
        &_item {
            text-align: center;
        }
    }
}

/* ≥576px */
@include media-breakpoint-down(xs) {

}


/* ==========  Mobile First  ========== */

/* ≤576px */
@include media-breakpoint-up(sm) {

}

/* ≤768px */
@include media-breakpoint-up(md) {

}

/* ≤992px */
@include media-breakpoint-up(lg) {

}

/* ≤1200px */
@include media-breakpoint-up(xl) {

}

