// Shop Sidebar
.shop_sidebar {
    border-bottom: 1px solid $border;
    &_title {
        font-size: 16px;
        color: #232323;
        text-transform: uppercase;
        &_goods {
            font-size: 16px;
            color: #444444;
        }
    }
    &_home {
        font-size: 12px;
        color: #555555;
        text-transform: uppercase;
    }
    &_showing {
        font-size: 14px;
        color: $text_light;
        text-transform: uppercase;
    }
    &_item {
        border: 1px solid $border;
        border-radius: 3px;
        color: #777777;
        height: 35px;
        text-transform: uppercase;
        cursor: pointer;
    }
    &_content {
        border: 1px solid $border;
        position: relative;
    }
    &_img {
        height: 250px;
        width: 70%;
        border-right: 1px solid $border;
        position: relative;
        .prod_card_actions {
            border-bottom: none;
        }
    }
    &_price {
        font-size: 14px;
        color: $text;
    }
    &_text {
        font-size: 14px;
        color: #777777;
    }
    &_button {
        text-transform: uppercase;
        font-size: 12px;
        height: 35px;
        min-width: 100px;
        &_like {
            min-width: 30px;
            height: 35px;
            border: 1px solid $border;
            background: #fcfcfc;
            color: $text;
        }
    }
    &_star {
        .prod_card_rate {
            text-align: inherit;
        }
    }
}
// Default Sorting
.default_sorting {
    cursor: pointer;
    border: 1px solid $border;
    height: 35px;
    width: 35px;
    &:last-child {
        border-left: none;
    }
    &:hover,
    &.active {
        background: #f5f5f5;
    }
}
.filter {
    &_group  {
        border-bottom: 1px solid $border;
        &:last-child {
            border-bottom: none;
        }
        &_text {
            font-size: 14px;
            color: #777777;
            height: 45px;
            cursor: pointer;
            &_content {
                color: $text;
                text-transform: uppercase;
                height: 45px;
                background: #f8f8f8;
                border-bottom: 1px solid $border;
            }
        }
    }
    &_list {
        padding-left: 16px;
        color: $text;
    }
    &_title {
        font-size: 16px;
        color: $text;
        text-transform: uppercase;
    }
    &_item {
        color: #444444;
        font-size: 14px;
    }
}
.color {
    &_content {
        height: 25px;
        width: 25px;
        background: #000;
    }
    &_blue {
        background: #34aadc;
        height: 25px;
        width: 25px;
    }
    &_carmine {
        background: #b0865b;
        height: 25px;
        width: 25px;
    }
    &_light_amber {
        background: #f7e6a1;
        height: 25px;
        width: 25px;
    }
    &_light_gray {
        background: #969495;
        height: 25px;
        width: 25px;
    }
    &_light_green {
        background: #26dc2b;
        height: 25px;
        width: 25px;
    }
    &_light_orange {
        background: #fd8603;
        height: 25px;
        width: 25px;
    }
    &_light_gray {
        background: #969495;
        height: 25px;
        width: 25px;
    }
    &_light_pink {
        background: #f678b0;
        height: 25px;
        width: 25px;
    }
    &_gold {
        background: #f1f03f;
        height: 25px;
        width: 25px;
    }
}
